# If you choose to use external files for attachments, you will need to configure a Vercel Blob Store.
# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=xxxxxxx

# Required for resumable streams. You can create a Redis store here: https://vercel.com/marketplace/redis
REDIS_URL=xxxxxx

CUSTOM_OPENAI_BASE_URL=""
CUSTOM_OPENAI_API_KEY=""

CODEX_API_KEY=""

# Claude agent sdk
ANTHROPIC_AUTH_TOKEN=""
ANTHROPIC_BASE_URL=""

# 调试 SDK 子进程通信
DEBUG_CLAUDE_AGENT_SDK=1

